{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stocks web</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--React libraries-->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <!---->
    <link rel="icon" href="{% static '/images/Graph-Icon.png'%}" type="image/png">
    <link href="{% static '/stocks/stock.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% block head %}{% endblock %}
    {% block script %}{% endblock %}
</head>
<!--https://codepen.io/mutedblues/pen/MmPNPG-->
   <header class="header">
    <a href="{% url 'index' %}" class="logo">Stock Web</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      {% if user.is_authenticated %}
      <li><a id = "username" href="##"><img src="{{ superuser.avatar.url }}" style="height:40px; width:40px; border-radius:20%"><strong style="padding-left:5px">{{ superuser.username }}</strong></a></li>
      <li><a href="{% url 'logout' %}">Log Out</a></li>
      {% else %}
      <li><a href="{% url 'register' %}">Register</a></li>
      <li><a href="{% url 'login' %}">Log In</a></li>
      {% endif %}
    </ul>
  </header>

<body>
  <!-- TradingView Widget BEGIN -->
    <div>
        <div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
        {
        "symbols": [
          {
            "proName": "FOREXCOM:SPXUSD",
            "title": "S&P 500"
          },
          {
            "proName": "FOREXCOM:NSXUSD",
            "title": "US 100"
          },
          {
            "proName": "BITSTAMP:BTCUSD",
            "title": "Bitcoin"
          },
          {
            "proName": "BITSTAMP:ETHUSD",
            "title": "Ethereum"
          },
          {
            "description": "TSX",
            "proName": "TSX:TSX"
          }
        ],
        "colorTheme": "dark",
        "isTransparent": false,
        "showSymbolLogo": true,
        "locale": "en"
      }
        </script>
      </div>
      </div>
      <hr>
      <!-- TradingView Widget END --> 
        {% block body %}
        {% endblock %}
</body>
<footer>
    <hr>
     <div class="row" style="background-color:rgb(52, 181, 255);height:100px;width:100%; margin-top:82px;">
    </div>
        {% block footer %}
        {% endblock %}

</footer>

</html>