{% extends "stocks/layout.html" %}
{% load static %}


{% block body %}
<input id="userid" type="hidden" value="{{superuser}}">
<br><br><br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <h3><p id="symbol">{{ symbol }}</p></h3>
    </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <h3><b id="desc">{{desc}}</b></h3>
          </div>
      </div>
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-3">
                <h2><b id="output">${{ output }}</b></h2>
            </div>
    </div>
<br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7" id="responsive_dates">
        <button class="datebtn" id="btn_5">1 Wk</button>
        <button class="datebtn" id="btn_30">1 M</button>
        <button class="datebtn" id="btn_90">3 M</button>
        <button class="datebtn" id="btn_180">6 M</button>
        <button class="datebtn" id="btn_365">YTD</button>
    </div>

</div>
<br><br><br>
<div class="row">
    <div class="col-md-1"></div>
    <div id = "Chart" class="col-md-7">
        <canvas id="myChart"></canvas> 
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-1"></div>
        <div id ="Chart_ii" class="col-md-7" style="padding-bottom:20px">
            <canvas id="vol_chart"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
        <div class="col-md-5">
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td style="padding-bottom:20px; padding-left: 30px;">
                               <span><b>Previous Close</b></span> 
                            </td>
                            <td style="padding-bottom:20px; padding-left: 30px;">
                                {{Previous_Close}}
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:20px; padding-left: 30px;">
                               <span><b>Open</b></span> 
                            </td>
                            <td style="padding-bottom:20px; padding-left: 30px;">
                                {{Open}}
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:20px; padding-left: 30px;">
                               <span><b>Day's Range</b></span> 
                            </td>
                            <td style="padding-bottom:20px; padding-left: 30px;">
                                {{Days_Range}}
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:20px; padding-left: 30px;">
                               <span><b>52 Week Range</b></span> 
                            </td>
                            <td style="padding-bottom:20px; padding-left: 30px;">
                                {{52_Week_Range}}
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:20px; padding-left: 30px;">
                               <span><b>Ask</b></span> 
                            </td>
                            <td style="padding-bottom:20px; padding-left: 30px;">
                                {{Ask}}
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:20px; padding-left: 30px;">
                               <span><b>Avg. Volume</b></span> 
                            </td>
                            <td style="padding-bottom:20px; padding-left: 30px;">
                                {{Avg_Volume}}
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:20px; padding-left: 30px;">
                               <span><b>Market Cap</b></span> 
                            </td>
                            <td style="padding-bottom:20px; padding-left: 30px;">
                                {{Market_Cap}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
</div>

<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <a href="/">back to query</a>
    </div>
</div>
{% endblock %}


{% block script %}
  <script src="{% static 'stocks/stocks.js' %}"></script>
{% endblock %}
