$modern_color: #476b6b;
$yellow:  #ffcc00;
$admincolor: #ff1a1a;
$background-image: url('https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&auto=format&fit=crop&w=1015&q=80');

%standardbackgrnd {
  background-image: $background-image;

}

%standardbox {
    background-color : $modern_color;
    padding: 2px 10px 10px 20px;
    border: 5px;
  }

 .preset {
   @extend %standardbox;
   border: 3px solid $yellow;
 }

 .adminpreset {
   @extend %standardbox;
   border: 3px solid $admincolor;
   color : $admincolor;
 }

body {
  @extend %standardbackgrnd;
}

h1 {
  text-align: center;
  color: $yellow;
  font-family: titillium;
}
div{
  ol{
    color:$yellow;
  }
}
